<div class="steps">
  <div class="tw-flex tw-justify-center tw-items-center tw-pt-5">
    <div>
      <ul class="tw-list-none tw-flex sm:tw-flex-col tw-gap-3">
        <li>
          <a
            class="btn btn-light tw-bg-transparent tw-rounded-full tw-text-white tw-font-bold hover:tw-bg-white hover:tw-text-black"
            routerLink="/step1"
            routerLinkActive="active"
            >1</a
          >
        </li>
        <li>
          <a
            class="btn btn-light tw-bg-transparent tw-rounded-full tw-text-white tw-font-bold hover:tw-bg-white hover:tw-text-black"
            routerLink="/step2"
            routerLinkActive="active"
            >2</a
          >
        </li>
        <li>
          <a
            class="btn btn-light tw-bg-transparent tw-rounded-full tw-text-white tw-font-bold hover:tw-bg-white hover:tw-text-black"
            >3</a
          >
        </li>
        <li>
          <a
            class="btn btn-light tw-bg-transparent tw-rounded-full tw-text-white tw-font-bold hover:tw-bg-white hover:tw-text-black"
            >4</a
          >
        </li>
      </ul>
      <div class="tw-hidden">
        <p>step1</p>
        <strong>Your info</strong>
      </div>
    </div>
  </div>
</div>
