@media (min-width: 768px) {
  .home-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.form-container {
  margin: 0 20px;
  margin-top: -20px;
  border-radius: 5px;
  padding: 20px;
}
